.notification {
    font-size: 0.9rem;
    height: 100%;
    .dateTimeBox {
        background-color: var(--primary);
        text-align: center;
        color: white;
        font-weight: 500;
        width: 100%;
        margin-right: 10px;
    }
    .nav-link {
        text-align: justify;
        :hover {
            color: var(--secondary);
        }
    }
    .nav-link:hover {
        color: var(--secondary);
    }
}
