/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.clear{
    clear: both;
}

.container {
  max-width: 1140px;
  margin: 0 auto;  
}

#top-header {
  height: 40px;
  border-bottom: 1px solid #dddddd;
  line-height: 40px;
}

#top-header a {
  text-decoration: none;
  color: #288b6c;
  font-weight: 500;
}

#top-header #hotline {
  width: 350px;
}

#top-header i {
  color: #288b6c;
  font-weight: 500;
}

#top-header .container {
  display: flex;
}

#main-header .container,
#logo-wrapper {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header #logo {
  width: 125px;
  height: 125px;
  background-image: url("../img/logo.png");
  background-size: cover;
}

#main-header #logo-text {
  padding-left: 20px;
}

#main-header #search input,
button {
  border-radius: 50rem !important;
  border: 0;
  background: #f3f3f3;
  color: #4c4c4c;
}

#search #search-input {
  font-size: 13px;
  width: 270px;
  height: 40px;
  padding: 15px;
}

#search button {
  width: 40px;
  height: 40px;
  padding: 5px;
}

#search button:hover {
  background-color: brown;
  color: white;
}

#menu-header {
  background-color: #288b6c;
  height: 50px;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li > a {
  color: white;
  line-height: 50px;
}

#nav li a {
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
}

#nav > li:hover {
  color: white;
  background-color: brown;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: brown;
  min-width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subnav li {
  list-style: none;
}

.subnav li a {
  color: white;
  display: block;
}

.subnav > li:hover > a {
  width: 100%;
  color: brown;
  background-color: white;
}

#slider {
  padding-top: 37%;  
  background-color: gray;
  background: url("../img/slider-1.jpg") top center / cover no-repeat;
}

/* END SLIDER */

/* START NEWS */
#news-content .container{
  display: flex;  
  justify-content: space-between;
}

#news-content .news-title {
  height: 50px;
  border-bottom: 1px solid #dddddd;
  line-height: 50px;
}

#news-content #news-event{
  width: 65%;
}

#news-top{    
  padding: 10px;
}

#news-top #news-top-left{
  width: 350px;
  height: 200px;
  background: url("../img/truong-cao-dang-y-te-dak-lak-1.jpg") top center / cover no-repeat;
  float: left;    
}

#news-top #news-top-right{  
  padding-left: 360px;
}

#news-top #news-top-body{
  text-align: justify;
  line-height: 27px;
}

#news-body #news-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#news-bottom .news-bottom-wrapper{
  padding: 15px 5px 15px 5px;
}

.news-bottom-wrapper .new-bottom-img{
  width: 170px;
  height: 100px;
  background: url("../img/truong-cao-dang-y-te-dak-lak-1.jpg") top center / cover no-repeat;
}

.news-bottom-wrapper .new-bottom-title{
  text-align: justify;
}

#news-content #news-notify{
  width: 33%;
}

#news-content #news-notify li{
  list-style: none;
  text-align: justify;
  padding: 5px;
}

#news-content #news-notify a{
  text-decoration: none;
  text-transform: uppercase;
  color: #288b6c;
  font-weight: bold;
  font-size: 10pt;
}

#news-content #news-notify a:hover{
  color:#7c1e1e
}

#news-content #news-notify span{  
  color: #7c1e1e;
}

/* END NEWS */

#infomation{
  background-color: #f2f2f2;
}

#infomation .container {
  height: 300px;
  display: flex;
  justify-content: space-between;
}

#infomation .info-content {
  width: 250px;
  padding: 30px;
}

#infomation .info-content:hover {
  background-color: #288b6c;
}

#infomation .info-content:hover .info-img {
  color: #288b6c;
  background-color: white;
}

#infomation .info-img {
  font-size: 65pt;
  text-align: center;
  padding: 15px;
  background-color: #288b6c;
  border-radius: 90px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  color: white;
}

#infomation .info-content:hover .text-brown {
  color: white;
}

#infomation .info-text {
  text-align: center;
  padding: 5px;
}

#infomation .text-brown {
  color: brown;
}

.box-title {
  height: 50px;
  border-bottom: 1px solid #dddddd;
  line-height: 50px;
}

.edu-box {
  display: block;
  position: relative;
  padding-top: 10px;
}

.edu-box .edu-box-content {
  position: relative;
  float: left;
  width: 23%;
  height: 200px;
  margin: 10px;
  background-color: #288b6c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.edu-box .edu-box-content:hover{
  opacity: 0.5;
} 

.edu-box .edu-box-content .edu-box-title{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  font-size: 14pt;
  font-weight: bold;
  background-color: black;
  color: white;  
}

#footer{
  background-color: brown;
}

#footer #footer-content{  
  display: flex;
  padding: 15px;
  color: white;  
  justify-content: space-between;
}

#footer #logo-footer{
  display: flex;
  align-items: center;    
}

#footer .footer-menu{
  padding-top: 20px;
}

#footer .footer-menu li{
  list-style: none;  
}

#footer .footer-menu a{
  text-decoration: none;  
  color: white;
  line-height: 25px;
  padding: 5px;
}

#copyright{
  background-color: #7c1e1e;
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 10pt;
}

#copyright .container{  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#link-wrapper{
  padding: 10px;
  margin: 0 auto;
}

#link-wrapper img{
  padding-left: 15px;
}