.carousel {
    .card-body a:hover {
        color: var(--secondary);
    }

    .carousel-indicators button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: var(--primary);
    }

    .carousel-item {
        font-weight: 500;
        cursor: pointer;
    }

    .carousel-item:hover {
        color: var(--secondary);
    }

}
