.slick-slider {
    .read-continue {
        font-weight: 500;        
    }

    .read-continue:hover {
        font-weight: 5000;        
    }
    
    .card-body a:hover{
        color:var(--secondary);
    }
}
