// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

:root {
    --primary: #288b6c;
    --secondary: #b02225;
    --default-layout-width: 1150px;
}

.App {
    //min-width: 450px;
}

// .card{
//   z-index: -1;
// }

html,
body {
    overflow-x: hidden;
}

.admin-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
